DATABASE_URL="postgres://postgres:password@db:5432/tainy_tune"
GEMINI_API_KEY="your_gemini_api_key"
INIT_ADMIN_PASSWORD="your_secure_password"
# A secret value used for encryption and hashing. 
# It must be at least 32 characters and generated with high entropy. 
# You can also use openssl rand -base64 32 to generate one.
# or you can generate in https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET="32charlongrandomstringhere"
BETTER_AUTH_URL="http://yourdomain.examlple"